@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@200;400;600;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left center;
    background-size: auto, 90px;

}
nav{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;

}
nav>h3{
    font-size: 45px;
}
nav li{
    list-style: none;
    margin-left: 30px;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    
}
nav a:hover{
    border-radius: 5px;
    color: rgb(91, 104, 218);
}
.primary-btn{
    color:white ;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color:#FD6E0A ;
}
.banner{
    margin: 0 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text{
    width: 50%;
}
.second-primary-btn{
    color:white ;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color:#FD6E0A ;
}
